.css-z3jy29 .rs__cell.rs__header>:first-of-type{
    display: none;
}

.css-8c5uix .rs__cell.rs__header>:first-of-type {
    display: none;
}
.css-1sn4lm3-MuiTypography-root{
    display: none;
}

.css-k7hypl .rs__cell.rs__header > :first-of-type{
    display: none;
}

.css-1iel8nt .rs__cell.rs__header > :first-of-type{
    display: none;
}
.css-w862l2{
    display: none !important;
}

.css-49fffr{
    display: none !important;
}

.css-1hnhrcx-MuiTypography-root{
    display: none !important;
}

.css-z0slbs-MuiTypography-root{
    display: none !important;
}

.css-8c5uix .rs__cell .rs__event__item {
  width: 100% !important;
}

.css-z3jy29 .rs__cell .rs__event__item{
  width: 100% !important;
}

.css-1nlly2f .rs__cell.rs__header>:first-of-type{
    background-color: #039be5;
}

.css-vkc4v8-MuiTypography-root{
    color : white !important;
}

.css-1fitlit{
    color: red !important;
}

h3{
    margin: 8px;
}

.css-1nlly2f .rs__cell.rs__header > :first-of-type{
    background-color: #29AB87 !important;
}

.event-render{
    /*padding-top: 10px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
    /*gap: 10px;*/
}

#calendar{
    height: 87vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*[data-testid="rs-wrapper"] {*/
/*    height: 80vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/

#dateRange {
    appearance: none;
    border: 1px solid lightgrey;
    outline: none;
    background-color: transparent;
    font-size: inherit;
}

/* Add box shadow on focus */
#dateRange:hover {
    border: 1px solid black;
}
#dateRange:focus {
    border: 0.13rem solid #1976D2;
}

/* Add padding and border radius */
#dateRange {
    padding: 10px;
    border-radius: 4px;
}

::-webkit-file-upload-button {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: #42A5F5;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}

::-webkit-file-upload-button:hover {
     background-color: #42A5F5;
     box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
     0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
 }

/* Active styles */
::-webkit-file-upload-button:active {
     background-color: #42A5F5;
     box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14),
     0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.2);
 }

/* Disabled styles */
::-webkit-file-upload-button:disabled {
     background-color: #e0e0e0;
     color: rgba(0, 0, 0, 0.26);
     box-shadow: none;
     cursor: default;
 }

.css-19s31ak>div:last-of-type{
    display: none;
}

.css-19s31ak>div:first-of-type{
    display: none;
}